@media (min-width: 576px) and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family: sans-serif;
        overflow-x: none;
    }
    }
    header{
        box-shadow:0px 3px 10px rgb(0,0,0,0.3);
        position: sticky;
        top: 0px;
        background-color:white;
        opacity: 0.5;
        z-index: 2;
    }
    nav ul{
        min-height: 10vh;
        margin:auto;
        width: 90%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        
    
    
    }
    nav a {
        color:black;
        text-decoration: none;
    }
    nav a:hover{
        text-decoration: none;
        
    }
    
    img{
        margin: auto;
    
    }
    section{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .Xbox-series-X{
    
    background: black;
    top: 0;
    
    }
    .nintendo-switch{
      
    background:red;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .ps5{
    background:linear-gradient(to right, #021B79, #0575E6);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    
    
    }
    .beau{
        position: absolute;
        z-index: -2;
        background: linear-gradient(to right, #373B44, #73C8A9); 
        transform: scale(2);
        transition: all 0.7s ease;
        
    }
    
    
   
    html {
        scroll-behavior: smooth;
      }
    h2{
        margin: 0px;
    }
    .s{
        width: 100%;
    }
    .Home{
     
         background: linear-gradient(to right, #155799, #159957);
      
         filter: blur(8px);
         -webkit-filter: blur(8px);
         width: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         position: relative;
        


    }
    .ml4{
        margin-left: 20%;
    }
    .hg {
        height: 0vh;
       
        }
.ff{
    height: 50vh;

}

.dd{
    display: flex;
    justify-content: right;
    align-items: center;
    

}

img {
    border: 30px solid white;
  }
  .hh{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
     
      
  }
 
  .hhhh{
    display: flex;
    background-color: #151515;
    grid-column-start: 0;
    grid-column-end: 3;
    
   
  }
  .vv{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
   
  }




  
  .zoomBOut {
    width: 600px; 
    height: 338px;
    overflow: hidden;
    position: relative;
  }
  .zoomBIn {
    width: 100%;
    height: 100%;
    background-image: url("music.jpg");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.3s;
  }
  .zoomBIn:hover {
    transform: scale(1.2);
  }
.kj{
    background-image: url(k.png);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kkj{
    background-image: url(2.png);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer{
    background-image: url(j.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  #mm{
      color: white;
  }
  .aaa{
      margin: 0;
  }
  .ss{
      margin-top: 150px;
  }
  #dd{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15%;
  }
  .gf{
      color: white;
  }
  
  #dddd{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    width: 100%;
}
   
    

 
    


p{
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
}


    
    

#ddd{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  
}
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: white;
    top: 100px;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }
  